In [1]:
# import necessary libraries
import numpy as np
import pandas as pd
import json
import requests as req
import matplotlib.pyplot as plt
import os


assets_path = '../data/'


citybikes = pd.read_csv(assets_path + 'citybikes.csv')
fs_data = pd.read_csv(assets_path + 'fs_data.csv')
yelp_data = pd.read_csv(assets_path + 'yelp_data.csv')

In [10]:
fs_data = fs_data.reindex(columns=['bike_station_id', 'fsq_id', 'category_name', 'name', 'distance', 'latitude', 'longitude', 'location_formatted_address'] )
fs_data.sort_values(['bike_station_id','latitude','longitude']).head(10)
fs_data.to_csv(assets_path + 'fs_data.csv', index=False)

,bike_station_id,fsq_id,category_name,name,distance,latitude,longitude,location_formatted_address
232,00fa94ad698dc4a9e4d708d6fd32f294,56ff4fa6498e3f0ebdbdbfe1,restaurants,La Catrina Mexican Tacos,461,49.287797,-123.141336,"1187 Denman St (Denman), Vancouver BC V6G 2N1"
1646,00fa94ad698dc4a9e4d708d6fd32f294,26b014175e054ff7c957cdf1,restaurants,Seafood and Papi's Oyster Bar,452,49.287854,-123.141341,"1193 Denman St, Vancouver BC V6G 2N1"
824,00fa94ad698dc4a9e4d708d6fd32f294,5e645a0e0b66dc00082892ac,restaurants,Ofra's Kitchen,402,49.288369,-123.139844,"1088 Denman St, Vancouver BC V6G 2M8"
1319,00fa94ad698dc4a9e4d708d6fd32f294,5afe50e7aa6c95002caf3675,restaurants,Mitbit,325,49.289388,-123.138147,"990 Denman St, Vancouver BC V6G 2M1"
1040,00fa94ad698dc4a9e4d708d6fd32f294,6b1d786e0acf4d3bc1c126f1,hotels,Barclay House,357,49.289815,-123.136966,"1770 Barclay St, Vancouver BC V6G 1K5"
2158,00fa94ad698dc4a9e4d708d6fd32f294,4bf1e1fc99d02d7f57b1c948,hotels,English Bay Inn,112,49.290154,-123.142349,"1968 Comox St (Chilco St), Vancouver BC V6G 1R4"
330,00fa94ad698dc4a9e4d708d6fd32f294,2c32856e4a1e4a62fcde4532,restaurants,Daniel Group,374,49.290463,-123.145377,"2099 Beach Ave, Vancouver BC V6G 1Z4"
1008,00fa94ad698dc4a9e4d708d6fd32f294,4aa7455df964a5208e4c20e3,restaurants,Kingyo Izakaya 金魚居酒屋,308,49.290643,-123.136956,"871 Denman St (btwn Haro & Barclay), Vancouver..."
2235,00fa94ad698dc4a9e4d708d6fd32f294,622c18560671ce24711ad20c,restaurants,Pho Q & M Restaurant,332,49.291009,-123.136419,"825 Denman St, Vancouver BC V6G 2L7"
1880,00fa94ad698dc4a9e4d708d6fd32f294,5827774f5f78034bcf6f9817,restaurants,Flower and Horse in Spring,463,49.291194,-123.134488,"1741 Robson St, Vancouver BC V6G 1C9"

In [9]:
yelp_data = yelp_data.reindex(columns=['bike_station_id', 'yelp_id', 'category_name', 'name', 'rating', 'review_count', 'distance', 'latitude', 'longitude'] )
yelp_data.sort_values(['bike_station_id','latitude','longitude']).head(10)

,bike_station_id,yelp_id,category_name,name,rating,review_count,distance,latitude,longitude
1659,00fa94ad698dc4a9e4d708d6fd32f294,xShqhti6TQo5kxWs2fszJQ,restaurants,Mediterranean Grill,2.5,119,463.060053,49.287616,-123.141004
700,00fa94ad698dc4a9e4d708d6fd32f294,rhkj-58IoZ9p_CvYS3NbOQ,bars,La Catrina Tacos,4.5,116,461.553890,49.287847,-123.141195
1367,00fa94ad698dc4a9e4d708d6fd32f294,smHdOf6ISN9SUJAC_zPKEA,museums,Rio Brazilian Steakhouse,2.5,198,439.267216,49.287961,-123.140519
2161,00fa94ad698dc4a9e4d708d6fd32f294,CkjGmBJ--cOsQkC7_YIFsA,parking,Big Bang Sushi,4.5,13,400.617578,49.288309,-123.140503
2205,00fa94ad698dc4a9e4d708d6fd32f294,g6F_Mdi63zQM5QBVygmJmg,parking,Frying Pan,4.5,22,395.698874,49.288355,-123.140439
878,00fa94ad698dc4a9e4d708d6fd32f294,lkesp7bQlPaaANqGlTS1PA,restaurants,Legendary Noodle House,3.5,227,387.393379,49.288396,-123.139830
160,00fa94ad698dc4a9e4d708d6fd32f294,crM1idgY_glhtxXT5kERNg,hotels,Kingyo,4.5,1037,299.425011,49.290610,-123.137140
1640,00fa94ad698dc4a9e4d708d6fd32f294,FEpZ_LY3PVXCTeKFOf8g7Q,hotels,Pho Express Ankor Noodle House,4.0,78,455.867083,49.290949,-123.134349
1717,00fa94ad698dc4a9e4d708d6fd32f294,i30z4KTuAdZJH_scFLla1Q,hotels,Dan Dan Noodle,4.0,19,355.961975,49.290970,-123.135980
1539,00fa94ad698dc4a9e4d708d6fd32f294,F5qWJO27UIzMmSObtD9Zeg,hotels,Tetsu Sushi Bar,4.5,100,397.430018,49.291776,-123.135266

In [ ]:
import sqlite3
from sqlite3 import Error

path = '../supporting_files/hr.db'

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

conn = create_connection(path)


def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

SQL = """SELECT first_name,
                last_name,
                department_id 
         FROM employees
         WHERE department_id IN (3,10) 
         ORDER BY department_id
"""

Join the data from Part 1 with the data from Part 2 to create a new dataframe.

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

Look at the data before and after the join to validate your data.